*{
    margin: 0;
    padding: 0;
}
html, body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(8, 24, 20, 0.938);
}
#root{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 70%;
    min-width: 800px;
    max-height: 800px;
    outline: 2px solid red;
}
#root div{
    outline: 2px solid green;
}
#current-round-calc-wrapper{
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
#current-round-calculator{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(230, 227, 56);
}
#score-wrapper{
    flex: 4;
}
#playing-area-wrapper{
    flex: 5;
}
#new-round-button-wrapper{
    flex: 1;
}

